.navbar-nav{
    background-color: darkgray;
}

li{
    border-bottom: 1px solid black;
}

.content{
    box-sizing: border-box;
    height: 1000px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
    background-color: dimgray;
    font-weight: 500;
    padding: 5px;
}
